header, footer, #home, section {
    padding-left: 240px;
  }


  @media only screen and (max-width : 992px) {
    header, section, footer {
      padding-left: 0;
    }
  }
  .profile-bg {
    background: url("/images/profileBG.jpeg");
    height: 135px;
    color:white;
  }

  .fix {
    position:fixed;
    z-index: 10;
  }
  .logo{
    margin-top: 15px;
  }

  /*My custom wave effect*/
  .waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #2196f3;
    }

.parallax-container {
  height: 300px;
}
.parallax {
  -webkit-filter:blur(7px);
  -moz-filter:blur(7px);
  filter: blur(7px);
}
