header, footer, main {
    padding-left: 240px;
  }
span {
  margin: auto;
}
h2, h4 {
  color:#2196f3;
}

i {
  padding-right: 15px;
  vertical-align: middle;
}


.side-nav li{
  border-bottom: 1px solid #B6B6B6;
}
.active-list {
  border-right: 3px solid #2196f3;
}

#about-me, #project, #skill, #contact {
  padding-top: 50px;
  padding-bottom: 150px;
}
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  @media only screen and (max-width: 480px){
    .parallax-container {
      height: 225px;
    }
  }

  .profile-bg {
    background: #2196f3;
    border-bottom: 10px #FFEB3B solid !important;
    height: 135px;
    color:white;
  }

  .profile-bg img {
    padding-top: 15px;
    height: 115px;
    margin: auto;
  }
.noPadding {
  padding:0px !important;
}
  .fix {
    position:fixed;
    z-index: 10;
  }
  .logo{
    margin-top: 15px;
  }

  /*My custom wave effect*/
  .waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #2196f3;
    }

.parallax-container {
  background: rgba(50,50,50, 0.5);
}

.iconColor {
  color: #2196f3;
}
.skill-icon img {
  height: 72px;
}
.skill-icon2 img {
  position: absolute;
  left: 15px;
  height: 50px;
}
@media only screen and (max-width : 400px)  {
  #jQuerylogo {
    height: 60px;
  }
}

.input-field input[type=text]:focus + label {
  color:#1976D2;
}
.input-field input[type=email]:focus + label {
  color:#1976D2;
}
.input-field input[type=tel]:focus + label {
  color:#1976D2;
}

.input-field label.active {
  color:#1976D2;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #1976D2;
  box-shadow: 0 1px 0 0 #1976D2;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #1976D2;
  box-shadow: 0 1px 0 0 #1976D2;
}
.input-field input[type=tel]:focus {
  border-bottom: 1px solid #1976D2;
  box-shadow: 0 1px 0 0 #1976D2;
}
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #1976D2;
  box-shadow: 0 1px 0 0 #1976D2;
}
