header, footer, main {
    padding-left: 240px;
  }
span {
  margin: auto;
}
h2, h4 {
  color:#2196f3;
}

#about-me, #project, #resume, #contact {
  padding-top: 50px;
}
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  @media only screen and (max-width: 480px){
    .parallax-container {
      height: 300px;
    }
  }

  .profile-bg {
    background: url("/images/profileBG.jpeg");
    height: 135px;
    color:white;
  }
.noPadding {
  padding:0px !important;
}
  .fix {
    position:fixed;
    z-index: 10;
  }
  .logo{
    margin-top: 15px;
  }

  /*My custom wave effect*/
  .waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #2196f3;
    }

.parallax-container {
  height: 3
  350px;
  background: rgba(50,50,50, 0.5);
}

.iconColor {
  color: #2196f3;
}
